page-sample {
  font-family: roboto;

  .toolbar-title {
      color: #ffffff;
    }

    .back-button {
      color: #ffffff;
    }

  .welcome-background{

      width:100%;
      height:100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-size: cover;
      background-position: cover;
      position:absolute;

  }


  .orderid{
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;

  }

  .ordertime{
      text-align: center;
      font-size: 1.5rem;
  }

  .orderholder{
      padding:10px;
  }

  .orderholder p{
      padding-top: 15px;
      text-align: center;
      font-size:1.75rem;
  }

  .orderholder img{
      width:6rem;
      margin:1.5rem auto;
  }


  .emptycart{
      width:60%;
      font-size: 2rem;
      font-family: roboto;
      text-align: center;
      margin:8rem auto;
    }

    .emptycart p{
      font-family: LeckerliOne;
      font-size: 2.5rem;
      color: #2cbfb1;
    }

    .grid{
      padding: 10px;
      font-size: 1.5rem;
    }
}
