page-reset-password {
  *{
    font-family: Roboto;
  }

  .ion-content{
    background-size: cover;
    background-position: cover;
    position: absolute;
  }

  .reset-password{
    width: 100%;
    margin-top:7.5rem;
    text-align: center;
  }

  .reset-password img{
    margin:0 auto;
    width:10rem;
  }

  .reset-password h3{
    color: #3e8d2e;
    font-family: LeckerliOne;
    font-size: 3.5rem;
  }

  .reset-passwordinput{
    margin-top:5rem;
  }

  .reset-password .item{
    width:80%;
    margin:2rem auto 2rem auto;
  }

  .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
    margin-left:0;
  }

  .btn-reset-password .button{
    padding:0 6rem;
  }

  .forgot-password h6{
    font-size: 1.5rem;
    color:#454545;
  }

  .forgot-password h6 span{
    font-weight: bold;
    text-decoration: underline;
  }
}
